.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear reverse;
  height: 50px;
  width: 50px;
  font-size: 15px;
  pointer-events: none;
  margin-top: 20px;
  border-left: 12px solid lightblue;
  border-right: 12px solid yellow;
  border-top: 5px solid red;
  border-bottom: 5px solid orangered;

  text-align: center;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* DatePicker */
.date_picker_container h1 {
  line-height: 100px;
}
.date_picker_container h1 span {
  border: 5px solid yellow;
  padding: 10px;
  display: inline;
}
.date_buttons_container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

#submit_btn {
  background-color: lightgreen;
  border-radius: 4px;
  border: 2px solid green;
  font-size: 1.5rem;
  color: beige;
  padding: 8px;
  font-weight: bolder;
}
.selector_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 4px;
  width: fit-content;
}

.date_buttons_container .selector_container button {
  height: 40px;
  width: 45px;
  border: 1px solid grey;
  background: lightblue;
  cursor: pointer;
  border-radius: 0;
  font-weight: bolder;
}

.selector_container p {
  margin: 0 10px;
}

#apod_pic {
  max-width: 100%;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .App {
    /* width: 100%; */
  }
  .App-header {
    width: 100%;
  }
  .date_picker_container {
    max-width: 100%;
    padding: 30px;
  }

  .date_picker_container h1 {
    line-height: 40px;
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .date_picker_container h1 span {
    padding: 1px;
  }

  .date_buttons_container {
    flex-direction: column;
    align-items: center;
  }

  .selector_container {
    margin: 5px;
  }

  .frame {
    display: flex;
    flex-direction: column-reverse;
  }
}
